<div class="ui changepassword modal">
    <div id="header" class="header">修改密码</div>
    <div class="content">
        <form id="changepwdForm" class="ui form">
            <div class="ui basic segment field">
                <div class="ui labeled input">
                    <div class="ui label">旧密码：</div>
                    <input id="old_password" name="old_password" placeholder="输入旧密码" type="password"/>
                </div>
            </div>
            <div class="ui basic segment field">
                <div class="ui labeled input">
                    <div class="ui label">新密码：</div>
                    <input id="new_password" name="new_password" placeholder="输入新密码" type="password"/>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui cancel button">取消</button>
        <button id="sub_btn" class="ui submit button" form="changepwdForm">确定</button>
    </div>
</div>
<script>
$("#change_password, #small_change_password").on('click', function(){
    $('.ui.changepassword.modal')
        .modal({closable: false, transition: 'vertical flip'})
        .modal('show');
});
$("#sub_btn").on('click', function(){
    $('#changepwdForm').form({
        fields:{
            old_password: 'empty',
            new_password: 'empty'
        },
        onSuccess: function(e){
            e.preventDefault();
        }
    }).api({
        method: 'post',
        url: '/auth/change_password',
        data: {
            old_password: $('#old_password').val(),
            new_password: $('#new_password').val()
        },
        onSuccess: function(data){
            if (data.status == 1){
                $('.ui.changepassword.modal').modal('hide');
                window.location.reload();
            }
            else {alert("旧密码错误");}
       }
    });
});
</script>
